// bower:scss
// endbower

body {
    background: #fafafa;
}

.zoom-overview {
    z-index: -1;
}

.zoom-item {
    * {
        transition: transform 0.8s linear 0.3s, opacity 1s linear;
    }

    h3 {
        transform-origin: -7% -160%;
    }
}

@mixin zoom-top {
    opacity: 1;
}

@mixin zoom-child {
    opacity: 1;
    cursor: pointer;

    * {
        opacity: 0;
    }

    h3 {
        opacity: 1;
        transform: scale(4);
    }
}

.impress-on-zoom-test {
    .zoom-item {
        @include zoom-child;
    }
}

.impress-on-zoom-test-overview {
    #zoom-test {
        @include zoom-top;
    }

    .zoom-item {
        @include zoom-child;
    }
}
