// bower:scss
// endbower

body {
    background: #fafafa;
}

.zoom-overview {
    z-index: -1;

    &:not(.active) {
        opacity: 1;
    }
}

.zoom-item {
    border-width: 3px;
    transition: border 1s ease-in-out;

    &:not(.active) {
        opacity: 1;
    }

    * {
        opacity: 0;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out 0.2s;
    }

    h2 {
        opacity: 1;
        transform: scale(3.4);
        transform-origin: -7% -160%;
    }
}

@mixin zoom-child {
    .zoom-item {
        border-width: 1px;

        * {
            opacity: 1;
        }

        h2 {
            transform: scale(1);
        }
    }
}

.impress-group-zoom-test {
    @include zoom-child;
}
