// bower:scss
// endbower

body {
    background: #fafafa;
}

.zoom-item {
    border-width: 3px;

    * {
        opacity: 0;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out 0.2s;
    }

    h2 {
        opacity: 1;
        transform: scale(3.4);
        transform-origin: -7% -160%;
    }
}

@mixin zoom-parent {
    .zoom-overview {
        opacity: 1;
        z-index: -1;
    }

    .zoom-item {
        opacity: 1;
        cursor: pointer;
    }
}

@mixin zoom-child {
    .zoom-overview {
        opacity: 0.3;
    }

    .zoom-item {
        border-width: 1px;

        &:not(.active) {
            opacity: 0.3;
        }

        * {
            opacity: 1;
        }

        h2 {
            transform: scale(1);
        }
    }
}

.impress-group-zoom-test {
    @include zoom-parent;
}

.impress-group-zoom-test-child {
    @include zoom-child;
}
